.online {
  padding: 20px;
  background-color: hsl(94, 100%, 94%);
  border: 1px solid #00ff0d;
  color: #00ac09;
}

.offline {
  padding: 20px;
  background-color: mistyrose;
  border: 1px solid red;
  color: rgb(196, 0, 0);
}
